:root {
    --navbar-height: 92px;
    --primary-color: #24dd12;
    --base-space: 20px;

    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;

    padding: calc(2 * var(--base-space));


    width: 100%;
    height: var(--navbar-height);
    background-color: var(--primary-color);
}

strong {
    color: var(--primary-color);
}

main {
    margin-top: var(--navbar-height);
    padding: var(--base-space) 0;
}

p {
    margin: calc(2 * var(--base-space)) 0;
}