:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    background-color: blue;
}

.container > p {
    background-color: red;
}